{% extends 'base.html' %}

{% block title %} Форум {% endblock %}

{% block content %}
    Всего сообщений: {{ messages_count }}
    <br>
    Всего пользователей: {{ users_count }}
    <br>
    Всего тем: {{ topics_count }}
    <br>
    <h1>Форумы</h1>
        <a href="{% url 'topic_create' %}"
           class="btn btn-primary">
            Создать тему
        </a>
    <br>
    <br>
    <br>
    {% for topic in topics %}
        <a href="topics/{{ topic.slug }}">{{ topic.title }}</a>
        <br>
        <a href="account/{{ topic.author }}">{{ topic.author }}</a>
        <br>
        <br>
    {% endfor %}
{% endblock %}