{% extends 'base.html' %}

{% block title %} Форум {% endblock %}

{% block content %}
    <div class="container">
        Всего сообщений: {{ messages_count }}
        <br>
        Всего пользователей: {{ users_count }}
        <br>
        Всего тем: {{ topics_count }}
        <br>
    </div>

    <h1>Форумы</h1>
        <a href="{% url 'topic_create' %}"
           class="btn btn-primary">
            Создать тему
        </a>
    <br>
    <br>
    <br>
    <ul>
    {% for topic in topics %}
        <li>
            <div class="btn btn-secondary">
                <h2>
                    <a href="topics/{{ topic.slug }}">{{ topic.title }}</a> | {{ topic.create_date }}
                </h2>
                <br>
                <h3>
                    <a href="account/{{ topic.author }}">{{ topic.author }}</a>
                </h3>
            </div>
            <br>
            <br>
        </li>
    {% endfor %}
    </ul>

{% endblock %}