{% extends 'base.html' %}

{% block title %} {{ topic.title }} {% endblock %}

{% block content %}
<h1>{{ topic.title }}</h1>
<br>
Создан {{ topic.create_date }}
<br>
<br>
<br>

<a href="{{ domain_redirect }}"
    class="btn btn-primary">
    Отправить сообщение
</a>
<br>
<br>
{{ topic.description }} | <a href="/account/{{ topic.author.username }}">{{ topic.author }}</a> | {{ topic.create_date }}
<br>
<br>

{% for message in messages %}
    {{ message.text }} | <a href="/account/{{ message.author.username }}">{{ message.author }}</a> | {{ message.create_date }}
    <br>
    <br>
{% endfor %}

{% endblock %}